# https://help.github.com/articles/about-codeowners/
# Last matching pattern takes precedence.

# Default owners for everything in repo.
*  @MarkDaoust @8bitmp3

# Docs
/site/en/guide/keras/ @fchollet @MarkDaoust @8bitmp3

# Community
/site/en/community/ @ewilderj @theadactyl @joanafilipa
