# https://help.github.com/articles/about-codeowners/
# Last matching pattern takes precedence.

# Default owners for everything in repo.
*  @tensorflow/docs-team

# Install
/site/en/install/ @haifeng-jin @MarkDaoust @8bitmp3

# Community
/site/en/community/ @ewilderj @theadactyl @joanafilipa

# Hub
/site/en/hub @gustheman