.task-group ul {
  padding: 0;
}

li.item {
  list-style: none;
}

li.item > div:first-child > code {
  background: 0;
  border-bottom: 1px solid #ebebeb;
  display: block;
  font: 400 24px/32px Roboto,sans-serif;
  letter-spacing: -.01em;
  margin: 40px 0 20px;
  padding: 0 0 3px;
}

.swift {
  padding: 6px 12px;
  margin: 12px 0;
  border-left: 5px solid rgba(205,233,244,1);
  overflow-y: hidden;
}

.aside-title-swift {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin: 0;
  color: #4b8afb;
}

.objc {
  padding: 6px 12px;
  margin: 12px 0;
  border-left: 5px solid rgba(0, 155, 51, 0.2);
  overflow-y: hidden;
}

.aside-title-objc {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin: 0;
  color: #009b33;
}
